<div class="card">
  <div class="card-content">
    <h4>@job.name</h4>

        <p>Description</p>
        
        <p><%=@job.description%></p>
        <br>
        <p>Active Job At AMC?&nbsp;&nbsp;</p>
         <%= @job.active ? "Yes" : "No" %>
        

      

        

     

    
      <br>
  </div>
</div>