  <div class="row">
    <div class="col s7 right-align">
 
    <i class="medium material-icons">search</i>
    </div>
    <div class="col s5">

             <%= form_with url: home_search_path, method: :get, class: "form-inline", id: "search" do %>

              <%= text_field_tag 'query', '', placeholder:  "Search for Employee (i.e. Alex...)" %>

              <!-- submitting via js (press enter) so not using... -->
              <%# submit_tag('Find') %>
            
          <% end %>



    </div>
  </div>
  