  
      
        
        <table class='striped-highlight'>
        <thead>

          <tr>

              <th>Total Amount Earned</th>
              <th>Hours Worked</th>
              <th>Pay Rate</th>
              <th>Pay Grade</th>

          </tr>
        </thead>

        <tbody>
          <th>$<%=payrolls.pay_earned%></th>
          <th><%=payrolls.hours%> hours</th>
          <th>$<%=payrolls.pay_rate%></th>
          <th><%=payrolls.pay_grade%></th>
          
        </tbody>
      </table>

     
        



  
     
   
