<form>
  <label>Post title:</label><br>
  <input type="text" id="store_id" name="store[store_id]"><br>

  <label>Post description:</label><br>
  <textarea id="start_date" name="payroll[start_date]"></textarea><br>

  <input type="submit" value="Submit Post">
</form>
