html {
  // Preloaded with three fonts; uncomment the one you prefer
  // font-family: 'Alfa Slab One', cursive;
  // font-family: 'Nunito', sans-serif;
  // font-family: 'Bitter', serif;
  // font-family: 'Josefin Sans', sans-serif;
  font-family: 'Times';

}




body{
  // background-color: #484848;
  background-color: #343434;
}

h3{
  color: silver;
}

/********** Home ********/
.dramatic{
  display:block;
  margin: 3% auto;
}

#home-title{
  text-align:center;
  font-size: 2rem;
}

#search-words{
  color:silver;
}

/********** Text for guests ********/

.row #text{
  color:silver;
}


/********** TOPBAR & NAV ********/
#topbar {
  background-color: #3A3A3A;
  padding-top: 5px;
  margin-bottom: 0px;
  color: silver;
  font-family: 'Apple Chancery', cursive;

}

#topbar h2{
  text-align:center;
  font-size: 4rem;
}
#topbar a {
  color: silver;
  font-weight:bold;
}

#nav {
  background-color: #3A3A3A;
  height: 50px;
}

#nav ul a {
  color: silver;
  font-size: 1.2rem;
  font-family: 'Times';
}

/********** FLASH MSGS ********/
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
  color: #008000;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
  color: #800000;
}

/********** FOOTER ********/

#footer {
  background-color: #3A3A3A;
  margin-bottom: 0px;
  line-height: 2rem;
  color: silver;
  font-family: 'Times';
}

#footer a {
  color: silver;
}


.card{
  background-color: #3A3A3A;
  color:silver;
}

.collapsible-header{
  background-color:black;
  color:silver;
}

#tabbed h4{
  color:silver;
  font-family: 'Apple Chancery', cursive;
}
.collapsible-header th{
  color:silver;
}

.striped-highlight th{
  color:silver;
}

.card h3{
  font-family: 'Apple Chancery', cursive;
}

.card h4{
  font-family: 'Apple Chancery', cursive;
}

#test-swipe-1, #test-swipe-2{
  color:silver;
}

/********** TABLES ********/

table .hyperlink a{
  
  border-bottom: 2px solid;

}

table.striped a {
  color:silver;
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: #3C3B3B;
  color:silver;
}

table.striped > tbody > tr:nth-child(even) {
  background-color: #4F4F41;
}

table.highlight > tbody > tr:hover {
  background-color: #fff59d;
  background-color: #403200;
}

td.align_right {
  text-align: right;
}

td.align_center {
  text-align: center;
}

th.align_right {
  text-align: right;
}

th.align_center {
  text-align: center;
}

/********** BUTTONS ********/
.btn {
  background-color: #FFCB05;
  color: #000;
}

.btn:hover {
  background-color: #ffff00;
  color: #000;
}

.btn-secondary {
  background-color: #eceff1;
  color: #000;
}

.btn-secondary:hover {
  background-color: #cfd8dc;
  color: #000;
}

.btn-alert {
  background-color: #c62828;
  color: #fff;
}
.btn-alert:hover {
  background-color: #e53935;
  color: #fff;
}

/***DROPDOWN***/
#dropdown1{
  background-color:gold;
}

/********** FORMS ********/
.switch label input[type=checkbox]:checked + .lever {
  background-color: #ffea00;
}

input[type=text] {
  color: silver;
}

.switch label input[type=checkbox]:checked + .lever::after {
  background-color: #FFCB05;
}

.picker__date-display {
  background-color: #FFCB05;
  color: #000;
}

.picker__year-display {
  color: #000;
}

input[type=text].search {
  border-bottom: none;
  margin-left: 10px;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  border-radius: 50%;
  transform: scale(0.9);
  background-color: #FFCB05;
  color: #000;
}

.check_boxes.optional.filled-in {
  background-color: #FFCB05;
}

[type="checkbox"].filled-in:checked+label:after {
  border: 2px solid #FFCB05;
  background-color: #FFCB05;
}


[type="radio"]:not(:checked), [type="radio"]:checked {
   
    opacity: 100;
    position: relative;
    display:block;
    pointer-events:auto;
}

    label {
      float: left;
      clear: none;
      display: block;
      padding: 0px 1em 0px 8px;
    }
    
    input[type=radio],
    input.radio {
      float: left;
      clear: none;
      margin: 2px 0 0 2px;
    }


input[type=date]{
    color:silver;
}



[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  border: 2px solid #FFCB05;
  background-color: #FFCB05;
}

#form-template {
  padding-left: 20px;
}


/********** MEDIA ********/
.img_left {
  float: left;
  padding-right: 10px;
}

.img_right {
  float: right;
  padding-left: 10px;
}

.carousel {
  height: 250px;
}

i.medium.material-icons{
  color:silver;
}
/********** CARDS ********/


.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #ffab00;
}

.remove {
  color: #b71c1c;
}

li.no_bullet {
  list-style-type: none;
}


/********** TABS ********/

.tabs{
  background-color:gray;
}
.tabs .tab a.active {
  color: #ffc400;

}

.tabs .tab a:hover {
  color: #FFCB05;
}

.tabs .tab a {
  color: #bdbdbd;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #FFCB05;
  will-change: left, right;
}



/********** FLASH MSGs ********/
.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.8125rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  position: relative;
  transition: opacity 300ms ease-out;
  background-color: #008CBA;
  border-color: #0078a0;
  color: #FFFFFF; } 
  .alert-box .close {
    right: 0.25rem;
    background: inherit;
    color: #333333;
    font-size: 1.375rem;
    line-height: .9;
    margin-top: -0.6875rem;
    opacity: 0.3;
    padding: 0 6px 4px;
    position: absolute;
    top: 50%; }
    .alert-box .close:hover, .alert-box .close:focus {
      opacity: 0.5; }
  .alert-box.radius {
    border-radius: 3px; }
  .alert-box.round {
    border-radius: 1000px; }
  .alert-box.success {
    background-color: #e8f5e9;
    border-color: #a5d6a7;
    color: #1b5e20; }
  .alert-box.alert {
    background-color: #f04124;
    border-color: #de2d0f;
    color: #FFFFFF; }
  .alert-box.secondary {
    background-color: #e7e7e7;
    border-color: #c7c7c7;
    color: #4f4f4f; }
  .alert-box.warning {
    background-color: #fff3e0;
    border-color: #ffcc80;
    color: #ef6c00; }
  .alert-box.info {
    background-color: #a0d3e8;
    border-color: #74bfdd;
    color: #4f4f4f; }
  .alert-box.alert-close {
    opacity: 0; }